@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    /* background-image: url("../assets/pokemon-video.jpg"); */
    background-color: #cfcfcf;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
}

#pet-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: black;
}

.subtitle {
    color: black;
    font-size: 1rem;
    margin-bottom: 50px;
}

.cards, .pet-attacks {
    display: flex;
    gap: 10px;
}

.mokepon-card {
    height: 120px;
    width: 200px;
    background-color: #1F4690;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mokepon-card:hover {
    background-color: #3576ee;
}

.mokepon-card:active {
    background-color: #1F4690;
}

.mokepon-card img {
    width: 80px;
}

.mokepon-card p {
    font-size: 10px;
    color: #FFE5B4;
}

input {
    display: none;
}

input:checked+label {
    background-color: #77a1ee;
}

#select-pet {
    background-color: #E8AA42;
    border: 1px solid black;
    width: 200px;
    padding: 14px;
    margin-top: 20px;
    border-radius: 20px;
    color: black;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

#attack-selection {
    flex-direction: column;
    align-items: center;
}

.attack-button {
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #1F4690;
    width: 150px;
    padding: 14px;
    font-family: 'Press Start 2P', cursive;
}

.attack-button:hover {
    background-color: #3576ee;
}

.attack-button span {
    font-size: 20px;
}

#messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3576ee;
    color: white;
    margin-top: 30px;
    padding: 15px;
    width: 440px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black
}

#restart-button{
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #3576ee;
    width: 200px;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
}

.attacks{
    display: grid;
    grid-template-columns: 200px 200px;
    margin-top: 20px;
    text-align: center;
}

#player-life, #enemy-life{
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 5px;
}

.player-card, .enemy-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    width: 180px;
    height: auto;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

#map-view{
    flex-direction: column;
    align-items: center;
}

#map{
    border: 2px solid black;
}

.direction-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.direction-button button{
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #1F4690;
    width: 80px;
    padding: 14px;
    margin: 10px 0;
    font-family: 'Press Start 2P', cursive;
}
@media (max-width: 650px) {
    .cards, .pet-attacks{
        flex-direction: column;
    }

    .attack-button {
        margin: 10px;
    }
}